@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:wght@300&family=Poppins:wght@500&family=REM:wght@100&family=Roboto:wght@100&display=swap');

body {
    margin: 0; 
    padding: 0;
    background-image: url('../imgs/maxresdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div#font {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: transparent;
}

div#container {
    margin: auto;
    height: 600px;
    width: 1200px;

    display: flex;
    border-radius: 0px 30px 30px 0px;
    border: 10px solid rgb(152, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

div#container div#form {
    width: 600px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.73);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-family: 'Poppins', sans-serif;
    border-right: 0px solid #000;
    border-radius: 0px 30px 30px 0px;
}

div#container div#form input {

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    width: 560px;
    height: 50px;
    
    color: rgb(152, 0, 0);

    padding-left: 15px;
    outline: none; 
    border: none;
    border-bottom: 5px solid #7a7a7a;
    transition: border-bottom 0.3s ease-in-out;
}

div#container div#form input::placeholder {
    margin-left: 15px;
}

div#container div#form input:focus {
    
    border-bottom: 5px solid rgb(152, 0, 0);
}

div#container div#form label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-weight: bolder;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

div#container div#form input#id_show_password {
    width: 15px;
    height: 15px;
}

div#container div#form img#img {
    width: 280px;
    height: 280px;
    margin-top: 30px;
    margin-bottom: 15px;
}

div#container div#form img#img2 {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 15px;
}

div#container div#form hr#lin{
    width: 560px;
    border: 2px solid rgb(152, 0, 0);
}

div#container div#form h1#h1reg {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
}

div#container div#form div#buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

div#container div#form div#buttons button {
    width: 220px;
    height: 55px;

    outline: none; 
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;

    background-color: white;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

div#container div#form div#buttons button:hover {
    background-color: rgb(152, 0, 0);
    color: white;
}
div#img_slider ul li img {
    width: 600px;
    height: 600px;
}

/* Slider de imágenes*/

* {
    margin: 0;
    padding: 0;
}

div#img_slider {
    width: 600px;
    height: 600px;
    margin: 0px auto 0;
    overflow: hidden;
}

div#img_slider ul {
    display: flex;
    padding: 0;
    width: 600%;

    animation: slide 12s infinite alternate ease-in-out;
}

div#img_slider li {
    list-style: none;
    width: 100%;
}

div#img_slider img {
    width: 100% ;
}

@keyframes slide {
    0% {margin-left: 0%;}
    12.5% {margin-left: 0%;}

    17.5% {margin-left: -100%;}
    30% {margin-left: -100%;}

    35% {margin-left: -200%;}
    47.5% {margin-left: -200%;}

    52.5% {margin-left: -300%;}
    64% {margin-left: -300%;}

    69% {margin-left: -400%;}
    81.5% {margin-left: -400%;}

    86.5% {margin-left: -500%;}
    100% {margin-left: -500%;}
}